
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in</title>
  <!-- link css -->
  {% load static %}

  <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
</head>
<body>



  <form action="/signin" method="post">
    {% csrf_token %}

    <h1>Sign in</h1>
      <label for="name">UserName:</label>
      <input type="text" name="username" id="name" class="inputs" required>

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" class="inputs" required>
      <div class="submit">
      <input type="submit" value="Submit" class="btn">
      </div>
      <p>Don't Have An Account? <a href="/SIGNUP">Sign up</a></p>
  </form>
</body>
</html>
